<div class="autocomplete">
  <nb-select-label>{{config.label}}</nb-select-label>
  <input
    nbInput
    [disabled]="disabled ? true : null"
    class="autocomplete-input"
    type="text"
    [ngClass]="config.class ? config.class : ''"
    #inputValue
    (input)="getData(inputValue.value)"
    [placeholder]="placeholder"
    [nbAutocomplete]="auto" />

  <nb-autocomplete #auto (selectedChange)="onChange($event)">

    <nb-option *ngFor="let item of suggestionData" [value]="item">
      {{item.value}}
    </nb-option>

  </nb-autocomplete>
</div>
