<div class="form-group">
  <label class="text-muted">{{config.label}}</label>
  <div class="input-group with-focus">
    <input
      nbInput
      [disabled]="disabled ? true : null"
      class="autocomplete-input form-control"
      type="text"
      [ngClass]="config.class ? config.class : ''"
      #inputValue
      (input)="getData(inputValue.value)"
      [placeholder]="placeholder"
      [matAutocomplete]="auto" />

    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let item of suggestionData$ | async" [value]="item.value">
        {{item.value}}
      </mat-option>
    </mat-autocomplete>
  </div>

</div>
